@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color:#2C3333;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
}

.app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #395B64;
  padding: 5%;
  border-radius: 20px;
  box-shadow: 6px 7px 27px -12px rgba(0,0,0,0.75);
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.music_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track_information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}


#previous_button, #next_button {
  font-size: 3rem;
}

#play_pause {
  font-size: 4rem;
}

.audio_controls {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
